@charset "utf-8";

body {
	padding: 0;
	margin: 0;
	background-color: #749bd6;
	background-image: url(../images/back.png);
}
#main {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 70vw;
	height: 100vh;
	padding: 0;
	margin-bottom: 0px;
	margin-top: 0px;
	box-shadow: 0 0 20px 0px black;
	padding-top: 10px;
	min-width: 750px;
}
#banner {
	margin: 1;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url(../images/banner.png);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #526d95;
	overflow: auto;
	width: 90%;
	min-height: 150px;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px black;
	border: 1px solid #1F3355;
}
#banner h1 {
	margin-top: 0.6em;
	line-height: 0.9em;
	text-align: center;
	display: block;
	font-family: 'Amarante', federant;
	font-style: normal;
	font-weight: 400;
	font-size: 4em;
	color: white;
	text-shadow: 0 0 10px black;
}

#banner h2 {
	margin-bottom: 0.8em;
	line-height: 0.1em;
	text-align: center;
	display: block;
	font-family: 'Amarante', federant;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	color: white;
	text-shadow: 0 0 10px black;
}
#banner h2::before {
	content: "~ ";
}
#banner h2::after {
	content: " ~";
}
nav {
	margin-top: 15px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3px;
	padding-bottom: 5px;
	overflow: auto;
	width: 95%;
	text-align: center;
}
nav a {
	background-color: #526d95;
	position: relative;
	color: white;
	margin-left: -5px;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
	border: 1px solid #1F3355;
	text-decoration: none;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	text-shadow: 0 0 10px black;
}
nav a:hover {
	text-decoration: underline;
}
nav a:first-of-type {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
nav a:last-of-type {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}



@media all and (max-width : 768px) {
	body {
		background-image: none;
	}
	#main {
		width: auto;
		box-shadow: none;
		min-width: 217px;
	}
	#banner {
		width: 90%;	
		min-height: 120px;
	}
	#banner h1 {
		font-size: 3em;
		line-height: 1em;
		margin-top: 0.2em;
	}
	#banner h2 {
		font-size: 1.5em;
	}
	#banner h2::before {
	content: "";
	}
	#banner h2::after {
		content: "";
	}
	nav {
	margin-top: 15px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3px;
	padding-bottom: 5px;
	overflow: auto;
	width: 75%;
	max-width: 350px;
	text-align: center;
	}
	nav a {
		background-color: #526d95;
		position: relative;
		color: white;
		margin-left: 0px;
		padding-top: 6px;
		padding-right: 6px;
		padding-bottom: 4px;
		padding-left: 6px;
		border: 1px solid #1F3355;
		text-decoration: none;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 1px;
		display: block;
		text-shadow: 0 0 10px black;
	}
	nav a:first-of-type {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 0px;
	}
	nav a:last-of-type {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 10px;
	}
}
@media all and (max-width : 288px) {
	#banner {
		background-image: none;
	}
}